src filter=lfs diff=lfs merge=lfs -text
amplify filter=lfs diff=lfs merge=lfs -text
node_modules filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
package-lock.json filter=lfs diff=lfs merge=lfs -text
public filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
node_modules/.cache/default-development/0.pack filter=lfs diff=lfs merge=lfs -text
